body {
    font-family: "UDEV Gothic NF";
    margin: 10px 100px;
    padding: 10px;
    border: 5px double #606060;
    text-align: center;
}

ul {
    list-style: none;
}

@font-face {
    font-family: "UDEV Gothic NF";
    src: url("./UDEVGothicNF-Regular.ttf") format("truetype");
}
